{% load static %}

<!DOCTYPE html>
    <html>
    <head>
        <title>mikepolo site</title>
        <meta charset="utf-8">
        <link type="image/x-icon" rel="shortcut icon" href="
            {% if ico == "r" %}
                {% static "icons/favicon_red.ico" %}
            {% else %}
                {% static "icons/favicon.ico" %}
            {% endif %}
        ">

        <link rel="stylesheet" href="
            {% if page == "index" %}
                {% static 'styles/styles.css' %}
            {% elif page == "hello" %}
                {% static 'styles/hello_styles.css' %}
            {% elif page == "not_found" %}
                {% static 'styles/error_styles.css' %}
            {% elif page == "blog" %}
                {% static 'styles/blog_styles.css' %}
            {% endif %}
        ">

        <link href="https://fonts.googleapis.com/css2?
        family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap"
        rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <div class="container">
                <div class="header__inner">
                    <a class="header__logo" href="/">MiPo</a>

                    <nav class="nav">
                        <a class="nav__link" href="/e/">Error</a>
                        <a class="nav__link" href="/hello/">Hello</a>
                        <a class="nav__link" href="/work">Work</a>
                        <a class="nav__link" href="/blog/">Blog</a>
                        <a class="nav__link" href="/contact">Contact</a>
                    </nav>
                </div>
            </div>
        </div>

        {% block intro %}{% endblock %}

    </body>
    </html>
