[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
colorama = "*"
httpie = "*"
ipython = "*"
isort = "*"
pudb = "*"
pytest = "*"
pytest-mock = "*"
pytest-selenium = "*"

[packages]
atomicwrites = "*"
django = "*"
dynaconf = { extras = ["yaml"], version = "*" }
gunicorn = "*"
psycopg2-binary = "*"
whitenoise = "*"
dj-database-url = "*"
sentry-sdk = "*"

[requires]
python_version = "3.9"
