body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #fff;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
/* container */
.container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

/* intro */
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #262835
    center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
/**/
.intro_inner{
    width: 100%;
    max-width: 840px;
    margin: 0 auto;

    text-align: center;
}

.intro__suptitle{
    margin-bottom: 10px;
    /*font-family: 'Kaushan Script', cursive;*/
    color: red;
    font-size: 50px;
}

.intro__title{
    font-size: 60px;
    font-weight: bold;
    color: red;
    text-transform: uppercase;

    line-height: 1;
}

.url{
    font-size: 55px;
    color:white;
    font-style: italic;
    text-transform: none;
}

.pin{
    font-size: 55px;
    color:#00a2e8;
    text-transform: none;
}

.intro__title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 20px auto;

    background-color: white;
}

/* Button */
.button{
    display: inline-block;
    vertical-align: top;
    padding: 8px 25px;

    border: 4px solid #fff;

    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;

    transition: background .1s linear,
    color .1s linear;
}
.button:hover{
    background-color: white;
    color: red;
}

/* header */
.header{
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-decoration: None;
}

/* NAV */
.nav{
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    position: relative;

    color: #fff;
    text-decoration: None;

    transition: color .2s linear;
}

.nav__link:after{
    content: "";
    width: 100%;
    height: 3px;
    display: none;

    background-color: red;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: color .2s linear;
}

.nav__link:hover{
    color: red;
}
.nav__link:hover:after{
    display: block;
    /*color: #00a2e8;*/
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

/* request headers */
.headers{
    background: #262835;

    color: white;
    font-size: 14px;
    /*font-weight: bold;*/
}

.header_h2{
    border-top: 1px solid #a4b3c8;
    text-transform: uppercase;
    padding: 40px;

    text-align: center;
    font-size: 30px;
    color: #00a2e8;

}

tr{
    width: 100%;
}

.key{
    font-weight: bold;
    /*color: #e0a044;*/
    padding-bottom: 30px;
    /*margin-bottom: 30px;*/

}

.value {

    padding-left: 20px;
    padding-bottom: 30px;
    text-align: center;
}




/* ERROR PAGE */

.error{
    width: 100%;
    max-width: 840px;
    margin: 0 auto;

    text-align: center;
    font-size: 20px;
}

.error_title{
    color: red;
    font-size: 45px;
}

.error_title:after{
    content: "";
    display: block;
    width: 50%;
    height: 3px;
    margin: 10px auto 30px;

    background-color: #a4b3c8;
}

.error__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    position: relative;

    color: #fff;
    text-decoration: None;

    transition: color .2s linear;
}

.error__link:after{
    content: "";
    width: 100%;
    height: 2px;
    opacity: 0;

    background-color: darkred;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .3s linear;
}

.error__link:hover{
    color: darkred;
}
.error__link:hover:after{
    opacity: 1;
}


