{% extends "_base.html" %}

{% block intro %}
<div class="intro">
    <div class="container">
        <div class="intro_inner">
            <div id="greeting_display_id" class="hello">Hello,
                <span class="input_item"> {{ name|default:'Anon' }}</span>!
            </div>
            <div id="address_display_id" class="hello">Your location is
                <span class="input_item"> {{ address|default:'XZ' }}</span>.
            </div>

            <div class="container_form">
                <form action="/hello/" method="post">

                    {{ form.as_p }}

                    <p>
                    <button id="submit_id">Send</button>
                    </p>
                    {% csrf_token %}

                </form>

                <form action="/hello/reset/" method="post" >
                    <button id="reset_id">Reset</button>
                    {% csrf_token %}
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}
